/*body {
  margin: 0;
}*/

body {
  margin: 0;
  background: url(https://source.unsplash.com/XY9tbPYhR34/1600x900
  ) no-repeat center center;
  background-size: cover;
  min-height: 700px;
}

#heading {
  color: white;
  max-width: 185px;
  margin: 0 auto;
}

#calculator {
  background-color: black; /* #778ad6; */
  max-width: 185px;
  font-size: 0; /* removes white space between inputs */
  margin: 70px auto 0 auto;
  padding: 2px;
}

#inputF {
  width: 15.1em;
  height: 4em;
  background:black;
  color: white;
  border-width: 0;
  margin: 1px;
  padding-left: 15px;
  outline: none;
}

input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btnOptr {
  width: 4em;
  height: 4em;
  background:#fa9100;
  color: white;
  border-width: 0;
  margin: 1px;
  outline: none;
}
.btnOptr:active {
  background: #dc6600;
}

.btnOther {
  width: 4em;
  height: 4em;
  background:#adafb8;
  color: black;
  border-width: 0;
  margin: 1px;
  outline: none;
}
.btnOther:active {
  background: #76777d;
}

.btnNum {
  width: 4em;
  height: 4em;
  background: #cfd0d4;
  color: black;
  border-width: 0;
  margin: 1px;
  outline: none;
}
.btnNum:active {
  background: #8c8d91;
}

#btnZero {
  width: 8.2em;;
}
